.cric {
  padding: 20px 20px 60px;
  background: #1c2128;
  color: #fff;
  min-height: 100vh;
}

.filter {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 70px;
}

.f-btn,
.f-select {
  background: #1b1b1b;
  border: 1px solid #2c2c2c;
  padding: 8px 18px;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
}

.f-btn {
  cursor: pointer;
  transition: .2s
}

.f-btn.active,
.f-btn:hover {
  background: #ff7a00;
  border-color: #ff7a00;
}


.date-head {
  margin: 30px 0 15px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffffcc;
}

.date-head span {
  margin-left: 10px;
  font-size: 14px;
  color: #bdbcbc;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 18px;
}

.wrap {
  position: relative
}


.card {
  position: relative;
  background: #1E2832;
  border: 1px solid #2a2a2a;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: .25s;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 18px rgba(255, 122, 0, .4);
}


.date,
.star {
  position: absolute;
  top: 8px;
  z-index: 5;
}

.date {
  left: 8px;
  background: rgba(0, 0, 0, .75);
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  font-weight: 700;
}

.star {
  right: 8px;
  color: #ff7a00;
  font-size: 18px;
}

.img-box {
  height: 120px;
  background: #000;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.match-title {
  padding: 10px 10px 5px;
  font-size: 15px;
  font-weight: 700;
  color: #eaeaea;
  min-height: 48px;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 5px;
  font-size: 13px;
  color: #e4e4e4;
}

.time {
  font-weight: 700;
  color: #ffb86c
}

.league {
  opacity: .8
}


.del {
  margin-top: 8px;
  width: 100%;
  padding: 6px;
  background: #ff3b3b;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  transition: .2s;
}

.del:hover {
  background: #d62d2d
}


.loader {
  text-align: center
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 40px auto;
  border: 4px solid #444;
  border-top: 4px solid #ff7a00;
  border-radius: 50%;
  animation: spin .8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}